.page.theme_light {
  --rec-decor-visibility: hidden;
  --text-color: var(--color-black-text-auto, #353430);
  --accent-color: var(--color-pink-accent, #ff8dcb);
  --brand-color: var(--color-pink-brand, #ffc2e6);
  --highlight-color: var(--color-black-text-auto, #353430);
  --secondary-color: var(--color-black-text-auto, #353430);
  --secondary-color-2: var(--color-black-auto-border, #35343040);
  --page-background-color: var(--color-pink-page-background, #fff1f7);
  --page-background-image: url("../images/cover-image-light.png");

}

@media (prefers-color-scheme: light) {
  :root {
    --rec-decor-visibility: hidden;
    --text-color: var(--color-black-text-auto, #353430);
    --accent-color: var(--color-pink-accent, #ff8dcb);
    --brand-color: var(--color-pink-brand, #ffc2e6);
    --highlight-color: var(--color-black-text-auto, #353430);
    --secondary-color: var(--color-black-text-auto, #353430);
    --secondary-color-2: var(--color-black-auto-border, #35343040);
    --page-background-color: var(--color-pink-page-background, #fff1f7);
    --page-background-image: url("../images/cover-image-light.png");
  }
}