.shadow-decor {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
  
}

.link-shadow-decor {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
  text-decoration: none;
}

.link-shadow-decor:hover {
  border-bottom: 1px solid var(--text-color, #353430);
}

.link-shadow-decor:focus {
  outline: 0;
}


.page {
  background-color: var(--page-background-color, #000028);
  background-image: var(--page-background-image,url("../images/cover-image.png"));
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: var(--text-color, #f1b2ce);
  font-family: var(--page-font-family, "IBM Plex mono", monospace);
  font-size: 18px;
  line-height: 23.4px;

}



.cover {
  /*display: grid;*/
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  block-size: 100vh;
  min-block-size: 668px;
}


.decorated-zone {
  position: relative;
}

.decorated-zone::before,.decorated-zone::after {
  content: "";
  position: absolute;
  z-index: -1;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--secondary-color, #ff0070);
  border-block-start: 1px solid var(--secondary-color, #ff0070);
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--secondary-color, #ff0070);
  border-block-end: 1px solid var(--secondary-color, #ff0070);
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link:focus {
  outline: 0;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.rec-decor {
  position: absolute;
  z-index: -1;
  visibility: var(--rec-decor-visibility, visible);
  display: inline-flex;
  align-items: center;
  gap: 10px;
  inset-inline-end: 29px;
  inset-block-start: 20px;
  text-transform: uppercase;
}

.rec-decor::before {
  color: var(--accent-color, #ff0070);
  content: "REC";
  line-height: 24px;
}

.rec-decor::after {
  content: "";
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  background: var(--accent-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
}

.page-title {
  color: var(--brand-color, #db00ff);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.title {
  color: var(--secondary-color, #ff0070);
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
}

.title-decor {
  color: var(--highlight-color, #000028);
  background: var(--accent-color, #ff0070);
}

.section {
  display: grid;
  gap: 20px;
}

.section-gallery {
  gap: 10px;
}

.section-how__title {
  margin-block-end: 20px;
}

.articles-list {
  display: grid;
  gap: 20px;
}

.article {
  display: grid;
  gap: 10px;
}

.gallery-list {
  display: grid;
  gap: 10px;
}

.gallery-list__item-img {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.title-decor-exception {

  color: var(--highlight-color, #000028);
  background: var(--accent-color, #ff0070);
  font-family: var(--page-font-family, "IBM Plex mono", monospace);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}



.header {
  /*display: grid;
  align-items: start;
  padding-inline-start: 0;*/
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding-inline-start: 0;  

}

.header__theme-menu {
  /*margin: 0;
  padding: 0;*/
  
  /*justify-self: end;*/

}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  
}


.header__theme-menu-button {
  color: var(--secondary-color, #ff0070);
  border: 1px solid transparent;
  padding: 2px 12px;
  line-height: 18px;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
}



.header__theme-menu-button_active {
  border-color: currentColor;
  cursor: default;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--secondary-color-2, #ff007040);
  outline: 1px solid var(--secondary-color, #ff0070);
  }

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.header__title {
  justify-self: end;
  inline-size: clamp(364px, calc(100% / 2), 491px);
  color: var(--highlight-color, #000028);
  background: var(--accent-color, #ff0070);
  font-weight: 700;
  font-size: inherit;
  line-height: inherit; 
}

.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}



.footer {
  place-items: center;
}

/*------------media--------------*/


@media (width <= 375px) {

  .rec-decor {
    inset-inline-end: 19px;
    inset-block-start: 11px;
  }

  .header {
    align-items: start;
  }

  .header__theme-menu {
    margin-left: auto;
    padding-top: 65px;
  }

  .page-title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    padding-left: 10px;
  }

  .header__title {
    inline-size: 53vh;
    align-self: center; 
  }

  .footer {
    display: grid;
    align-items: center;
    padding-left: 0;
  }

}

@media(width > 375px) {

  .header__theme-menu {
    display: flex;
    justify-self: center;
    margin-left: auto;
  }

  .header__title {
    inline-size: 53vh;
    align-self: center;
    inline-size: 363px;
  }

  .page-title {
    padding-left: 10px;
  }

  .cover {
    display:grid;
    padding-left: 0;
  }

  .section {
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
  }

  .section-what__articles-list {
    grid-column-start: span 2;
  }

  .section-gallery {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .section-how__articles-list {
    grid-column-start: 2;
  }

  .gallery-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery-list__item:first-child,
  .gallery-list__item:last-child {
    grid-column-start: span 2;
  }

  .gallery-list__item:nth-child(2),
  .gallery-list__item:nth-child(3) {
    grid-row-start: span 2;
  }

  
  .header__theme-menu {
    display: flex;
    justify-self: center;
    margin-left: auto;

  }

  .header__title {
    justify-self: end;
    align-self: center;
    inline-size: 365px;
  }

  .main {
    gap: 80px;
    padding: 60px 20px;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (width >=768px) {

  .rec-decor {
    inset-inline-end: 28px;
    inset-block-start: 20px;
    
  }

  .cover {
    display: grid;
    block-size: 100vh;
    min-block-size: 668px;
    
  }

  .page-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding-left: 0px;
  }

  .section {
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
  }

  .section-what__articles-list {
    grid-column-start: span 2;
  }

  .section-gallery {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .section-how__articles-list {
    grid-column-start: 2;
  }

  .gallery-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery-list__item:first-child,
  .gallery-list__item:last-child {
    grid-column-start: span 2;
  }

  .gallery-list__item:nth-child(2),
  .gallery-list__item:nth-child(3) {
    grid-row-start: span 2;
  }

  
  .header__theme-menu {
    display: flex;
    justify-self: center;
    margin-left: auto;

  }

  .header__title {
    justify-self: end;
    align-self: center;
    inline-size: 365px;
  }

  .main {
    gap: 80px;
    padding: 60px 20px;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 18px;
  }
}




@media (width >= 1024px) {
  .page-title {
    text-shadow: 4px 4px 0 var(--color-purple-titles-shadows, #ff0070);
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) 

  }

  .cover {

  }

  .section {
    column-gap: 30px;
  }

  .section-what__articles-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .header__theme-menu {
    margin: 0;
    padding-left: 19px;
  }

  .header__theme-menu-list {
    flex-direction: row;

  }

  .header__title {
    align-self: center;
    inline-size: 492px;
  }

}